/*
* @Author: Marte
* @Date:   2017-04-23 22:10:39
* @Last Modified by:   Marte
* @Last Modified time: 2017-04-23 23:05:00
*/
h1,h6{text-align: center;}
h6{color:gray;}
p{text-indent:32px;}
a{text-decoration: none;}
ul{font-style: italic;}
